<nav class="nav__default-style-reset">
  <div class="nav__shortcuts">
    <ul>
      <li>
        <button id="nav-btn-menu" class="nav__icon">
          <img src="components/navbar/icons/icon-list.png" />
        </button>
      </li>
    </ul>

    <button id="nav-btn-prev" class="nav__arrow">
      <img src="components/navbar/icons/arrow.png" />
    </button>

    <ul id="nav-carousel-icon" class="nav__carousel"></ul>

    <button id="nav-btn-next" class="nav__arrow nav__arrow--reverse">
      <img src="components/navbar/icons/arrow.png" />
    </button>
  </div>

  <div
    id="nav-expansion"
    class="nav__expansion nav__expansion nav__expansion--hidden"
  >
    <ul>
      <li>
        <p>Current Module:</p>
        <p id="nav-current-module" class="nav__title--current"></p>
      </li>
    </ul>

    <p><!--Filler for future element--></p>

    <ul id="nav-carousel-title" class="nav__carousel"></ul>

    <p><!--Filler for future element--></p>
  </div>
</nav>
