<nav class="nav__default-style-reset">
  <div class="nav__shortcuts">
    <ul>
      <li>
        <button id="nav-btn-home" class="nav__icon">
          <img src="components/navbar/icons/icon-list.png" />
        </button>
      </li>
    </ul>

    <button id="nav-btn-prev" class="nav__arrow">
      <img src="components/navbar/icons/arrow.png" />
    </button>

    <ul class="nav__carousel">
      <li>
        <button class="nav__icon" onclick="loadComponent('home')">
          <img src="modules/home/icons/home.png" />
        </button>
      </li>
      <li>
        <button class="nav__icon" onclick="loadComponent('clicker')">
          <img src="modules/clicker/icons/clicker.png" />
        </button>
      </li>
      <li>
        <button class="nav__icon">
          <img src="shared/icons/wip3.png" />
        </button>
      </li>
      <li>
        <button class="nav__icon">
          <img src="shared/icons/wip4.png" />
        </button>
      </li>
    </ul>

    <button id="nav-btn-next" class="nav__arrow nav__arrow--reverse">
      <img src="components/navbar/icons/arrow.png" />
    </button>
  </div>

  <div
    id="nav-expansion"
    class="nav__expansion nav__expansion nav__expansion--hidden"
  >
    <ul>
      <li>
        <button>
          <p>Home</p>
        </button>
      </li>
    </ul>

    <p><!--Filler for future element--></p>

    <ul class="nav__carousel">
      <li>
        <button onclick="loadComponent('home')">
          <p>Home</p>
        </button>
      </li>
      <li>
        <button onclick="loadComponent('clicker')">
          <p>Clicker</p>
        </button>
      </li>
      <li>
        <button>
          <p>WIP 3</p>
        </button>
      </li>
      <li>
        <button>
          <p>WIP 4</p>
        </button>
      </li>
    </ul>

    <p><!--Filler for future element--></p>
  </div>
</nav>
