<nav class="nav__default-style-reset">
  <div class="nav__sidebar">
    <ul>
      <li>
        <button id="nav-btn-home" class="nav__icon">
          <img src="components/navbar/icons/icon-list.png" />
        </button>
      </li>
    </ul>

    <button class="nav__arrow">
      <img src="components/navbar/icons/arrow-up.png" />
    </button>

    <ul>
      <li>
        <button class="nav__icon">
          <img src="shared/icons/wip.png" />
        </button>
      </li>
      <li>
        <button class="nav__icon">
          <img src="shared/icons/wip.png" />
        </button>
      </li>
      <li>
        <button class="nav__icon">
          <img src="shared/icons/wip.png" />
        </button>
      </li>
      <li>
        <button class="nav__icon">
          <img src="shared/icons/wip.png" />
        </button>
      </li>
    </ul>

    <button class="nav__arrow nav__arrow--down">
      <img src="components/navbar/icons/arrow-up.png" />
    </button>
  </div>

  <div id="nav-expansion-labels" class="nav__expansion nav__expansion--hidden">
    <ul>
      <li>
        <button>
          <p>Home</p>
        </button>
      </li>
    </ul>

    <p>Modules</p>

    <ul>
      <li>
        <button>
          <p>WIP</p>
        </button>
      </li>
      <li>
        <button>
          <p>WIP</p>
        </button>
      </li>
      <li>
        <button>
          <p>WIP</p>
        </button>
      </li>
      <li>
        <button>
          <p>WIP---------------------</p>
        </button>
      </li>
    </ul>    

    <p>Modules</p>
  </div>
</nav>
