/*----------------------------------------------------------------------*/
/*                             Positioning                              */
/*----------------------------------------------------------------------*/
main {
  padding-block: 20px;
  padding-inline: max(10%, 20px);
}

@media (min-width: 769px) {
  main {
    padding-block: 40px;
    padding-inline: max(5%, 40px);
  }
}

main header {
  margin-bottom: 2rem;
}

main section {
  margin-bottom: 5rem;
}

@media (min-width: 769px) {
  main section {
    margin-bottom: 3rem;
  }
}

.home__features li {
  margin-bottom: 3rem;
}

/*----------------------------------------------------------------------*/
/*                    Headings a link style override                    */
/*----------------------------------------------------------------------*/
main h1,
main h2,
main h3 {
  font-weight: bold;
}

main h1 {
  display: flex;
  justify-content: center;

  font-size: 1.5rem;
}

main h2 {
  font-size: 1.3rem;
}

main h3 {
  font-size: 1rem;
}

/*----------------------------------------------------------------------*/
/*                               Footer                                 */
/*----------------------------------------------------------------------*/
main footer {
  display: flex;
  flex-direction: column;

  text-align: center;
}

main footer ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

main footer ul li {
  margin-bottom: 0.5rem;
}
