body {
  display: grid;
  height: 100vh;
}

#navbar-container {
  background-color: var(--secondary-background-color);
  color: var(--secondary-color);
}

#main-container {
  background-color: var(--primary-background-color);
  color: var(--primary-color);
}

/*----------------------------------------------------------------------*/
/*                         Anchor tags in main                          */
/*----------------------------------------------------------------------*/
main a {
  color: inherit;
  font-weight: bold;
}

main a:hover {
  color: var(--contrast-color);
}

main a:hover img {
  filter: brightness(0) saturate(100%) invert(84%) sepia(56%) saturate(2517%)
    hue-rotate(1deg) brightness(103%) contrast(105%);
}

main img {
  height: 0.7rem;
}

/*----------------------------------------------------------------------*/
/*                            Navbar on left                            */
/*----------------------------------------------------------------------*/
@media (min-width: 769px) {
  body {
    grid-template-columns: var(--navbar-collapsed-size) 1fr;
  }
}

/*----------------------------------------------------------------------*/
/*                            Navbar on top                             */
/*----------------------------------------------------------------------*/
@media (max-width: 768px) {
  body {
    grid-template-rows: var(--navbar-collapsed-size) 1fr;
  }
}
