body {
  display: grid;
  height: 100vh;
}

#navbar-container {
  background-color: var(--secondary-background-color);
  color: var(--secondary-color);
}

#main-container {
  background-color: var(--primary-background-color);
  color: var(--primary-color);
}

/*----------------------------------------------------------------------*/
/*                            Navbar on left                            */
/*----------------------------------------------------------------------*/
@media (min-width: 769px) {
  body {
    grid-template-columns: var(--navbar-collapsed-size) 1fr;
  }
}

/*----------------------------------------------------------------------*/
/*                            Navbar on top                             */
/*----------------------------------------------------------------------*/
@media (max-width: 768px) {
  body {
    grid-template-rows: var(--navbar-collapsed-size) 1fr;
  }
}