:root{
    /* Sizes */
    --navbar-collapsed-size: 60px;

    /* Colors */
    --primary-background-color: black;
    --secondary-background-color: gold;
    
    --primary-color: white;
    --secondary-color: black;
}