@media (min-width: 769px) {
  main {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

main h1 {
  overflow: visible;
  white-space: nowrap;

  margin: 1rem;

  font-size: 10rem;
}

main button {
  margin: 0.5rem;

  height: 5rem;
  width: 15rem;

  background-color: var(--secondary-background-color);
  border: none;
  box-shadow: 0px 0px 5px var(--contrast-color);
  font-size: 1.3rem;
}
@media (min-width: 769px) {
  main button {
    height: 3rem;
  }
}

#clicker-reset {
  background-color: grey;
  box-shadow: 0px 0px 5px grey;
}

main section {
  text-align: center;

  margin: 0.5rem;
}
@media (min-width: 769px) {
  main section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
  }

  main section:first-of-type {
    width: 17rem;
    overflow: visible;
  }
}

@media (min-width: 769px) {
  .clicker__disclaimer {
    align-items: flex-start;
    display: flex;

    padding-top: 14rem;
    padding-left: 0;
    text-align: left;
  }
}
